<?xml version="1.0"?>
<configuration>


  <appSettings>
    <!--<add key="DBConnectionString" value="uSCkBeiZK6wknMxcDZ9HAfRjYj7fR3qBD1Fr3SFI2wgySGnIbW/N7vfz9e8S3yEwJpbx/hx82YArIh+VAkM5KqS1SDD/zHLAAhS26Ja2gk2rSzlSysw5Okp2RaorKECCoV2W3t1ZHQnaLPikLacSSEZaSvVQtcFn4ykNltbJQuWii2kOBSdV3VE9X6ZzB3mmB220fJoAXCRTZfossTBVTNvzBy96s+HsAhjZZxT4r6+i6DH1iodjwTbLpn2ddPb+"/>-->
    <!--<add key="DBConnectionString" value="Data Source=ETG101;Initial Catalog=VirtusMobileDB;Integrated Security=True"/>-->
    <add key="DBConnectionString" value="Data Source=ETG101;Initial Catalog=VirtusMobileTest;Integrated Security=True"/>

  </appSettings>

  <connectionStrings>
    <add name="DBConnectionString" connectionString="uSCkBeiZK6wknMxcDZ9HAfRjYj7fR3qBD1Fr3SFI2wgySGnIbW/N7vfz9e8S3yEwJpbx/hx82YArIh+VAkM5KqS1SDD/zHLAAhS26Ja2gk2rSzlSysw5Okp2RaorKECCoV2W3t1ZHQnaLPikLacSSEZaSvVQtcFn4ykNltbJQuWii2kOBSdV3VE9X6ZzB3mmB220fJoAXCRTZfossTBVTNvzBy96s+HsAhjZZxT4r6+i6DH1iodjwTbLpn2ddPb+"/>
    <add name="DBConnectionString1" providerName="System.Data.SqlClient" connectionString="Data Source=ETG101;Initial Catalog=VirtusMobileDB;Integrated Security=True"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
